<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <%= link_to '<-- Back', lists_path(@user) %>
      <h1><%= @list.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="new-item">
      <%= render partial: 'items/form' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <table class="table table-striped">
        <thead>
          <tr>
            <th data-field="Description">Description</th>
            <th data-field="Days Left">Days Left</th>
            <th data-field="Delete">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr id="item-<%= item.id %>">
              <td><%= item.name %></td>
              <td><%= item.days_left %></td>
              <td><%= link_to "Delete", [item.list, item], class: 'fa fa-trash-o', method: :delete, remote: true %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>





