{{body-class "lists"}}
{{page-title "New List"}}

<header>
  {{link-to 'Cancel' 'list'}}
  <h1>New List</h1>
</header>

{{list-form list=model
    successMessage="New list created."
    errorMessage="Sorry, list was not created."}}

{{outlet}}
