{{body-class "lists"}}
{{page-title "New List"}}

<header>
  {{link-to 'Cancel' 'list'}}
  <h1>New List</h1>
</header>

{{list-form list=model successMessage="New list saved." errorMessage="Sorry, list was not saved."}}

{{outlet}}
