{{body-class "lists"}}
{{page-title "Your Lists"}}

<header>
  <h1>Your Lists</h1>
</header>
<ol>
  <li>{{link-to '+ New List' 'list.new'}}</li>
  {{#each model as |list|}}
    <li>{{list.title}}</li>
  {{/each}}
</ol>

{{outlet}}
