{{body-class "lists"}}
{{page-title "Your Lists"}}

<h1>Your Lists</h1>
<ol>
  <li>{{link-to '+ New List' 'list'}}</li>
  {{#each model as |list|}}
    <li>{{list.title}}</li>
  {{/each}}
</ol>

{{outlet}}
