{{body-class "lists"}}
{{page-title "Your Lists"}}

<h1>Your Lists</h1>
{{#if model.length}}
<ol>
  {{#each model as |list|}}
    <li>{{list.title}}</li>
  {{/each}}
</ol>
{{else}}
Create your first list
{{/if}}


{{outlet}}
