{{body-class "lists"}}
{{page-title "Your Lists"}}

<header>
  <h1>Your Lists</h1>
  {{#if editsLocked}}
    {{link-to 'Edit' (query-params editsLocked=false)}}
  {{else}}
    {{link-to 'Done' (query-params editsLocked=true)}}
  {{/if}}
</header>

<ol>
  <li>
    {{#if editsLocked}}
      {{link-to '+ New List' 'list.new'}}
    {{else}}
      Choose list to edit
    {{/if}}
  </li>

  {{#each model as |list|}}
    <li data-list>
      {{list.title}}
      {{#unless editsLocked}}{{link-to 'Edit List' 'list.new'}}{{/unless}}
    </li>
  {{/each}}
</ol>

<footer>
  <a href="/logout" {{action 'invalidateSession'}}>Sign out</a>
</footer>

{{outlet}}
