{{body-class "lists"}}
{{page-title "Your Lists"}}

<header>
  <h1>Your Lists</h1>
  {{link-to 'Edit' 'list.new'}}
</header>
<ol>
  <li>{{link-to '+ New List' 'list.new'}}</li>
  {{#each model as |list|}}
    <li data-list>{{list.title}}</li>
  {{/each}}
</ol>

<footer>
  <a href="/logout" {{action 'invalidateSession'}}>Sign out</a>
</footer>

{{outlet}}
